.calc-button {
    background: rgba(60, 110, 180, .9);
    color: #fff;
}

.num-pad label {
    font-size: 14px;
}

.main-input {
    font-size: 16px;
    padding: 4px 2px;
}

.history_text_view {
    font-size: 14px;
    font-family: "monospace";
}

.history_text_view_scroll {
    background-color: #fff;
}
